body{
background:black;
}

h1{
    color:white;
    text-align:center;
    font-family: 'Libre Baskerville',serif;
    text-transform: uppercase;
    
}
p{
    color:white;
    text-align:center;
    font-family:'Libre Baskerville',serif;
}
img{
    border:5px solid white;
    width:100%;
}
div{
    width:50%;
    margin-left:25%;
    margin-top:10%;
}
#author{
    text-align:right;
    font-style: italic;
    font-family:'Libre Baskerville',serif;
    font-size:smaller;
    color:antiquewhite;
}